node_modules
dist
pnpm-lock.yaml
coverage
*.log
.env
.env.*
!.env.example
.DS_Store
target
.swc
apps/miniprogram/dist
apps/web/dist
apps/desktop/dist
apps/browser-ext/dist
apps/backend/dist
apps/mobile/android
apps/mobile/ios
apps/desktop/src-tauri/target
packages/*/dist
packages/*/node_modules
**/*.scss
**/.babelrc
apps/browser-ext/popup.html
DEPLOY.md
CONTRIBUTING.md
docs/
